<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DriveWorks.Applications" version="17.2.0" targetFramework="net461" />
  <package id="DriveWorks.Engine" version="17.2.0" targetFramework="net461" />
  <package id="DriveWorks.SolidWorks" version="17.2.0" targetFramework="net461" />
  <package id="DriveWorksTK.Util" version="1.0.90" targetFramework="net461" />
  <package id="DriveWorksTK.Util.Desktop" version="1.0.90" targetFramework="net461" />
  <package id="DriveWorksTK.Wpf" version="1.0.106" targetFramework="net461" />
  <package id="SolidWorks.Interop.sldworks" version="23.4.0.56" targetFramework="net461" />
  <package id="SolidWorks.Interop.swconst" version="23.4.0.56" targetFramework="net461" />
  <package id="SolidWorks.Interop.swdocumentmgr" version="23.4.0.56" targetFramework="net461" />
  <package id="SolidWorks.Interop.swpublished" version="23.4.0.56" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="Titan.Rules" version="17.2.0" targetFramework="net461" />
</packages>